.App {
  text-align: center;
  /* background-color: rgb(250, 193, 135); */
  /* min-width: "100vw";
  min-height: "100vh";
  position: "absolute";
  overflow: "hidden"; */
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style-type: none;
}
.menu-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(0, 214, 203);
  /* margin-bottom: 120px; */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  /* padding: 0 20px; */
  transform: scale(1.2);
  box-shadow: 0px 10px 40px 0px #18236b33;
  position: fixed;
  width: 100%;
  bottom: 10px;
}
